<style>
  .navbar-nav .nav-link,.navbar-brand {
    color: black;
    /* veya istediğiniz başka bir renk */
  }

  /* Aktif (active) linkin rengi */
  .navbar-nav .nav-link.active {
    color: black;
    /* Aktif linkin rengini siyah olarak ayarla */
  }
</style>
<nav class="navbar navbar-expand-lg  border-bottom px-5 ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Kullanıcılar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth">Authenticate</a>
        </li>


        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>


      </ul>




      <div class="btn-group position-static mx-2">
        <img data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false"
          src="https://avatars.githubusercontent.com/u/124599?v=4" alt="BH" class=""
          style="width: 50px; height: 50px; border-radius: 50%; cursor: pointer;">

        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Profil</a></li>
          <li><a class="dropdown-item" href="#">Takipçiler</a></li>
          <li><a class="dropdown-item" href="#">Beğenilenler</a></li>

          <form asp-action="Logout" asp-controller="Auth" asp-antiforgery="true" method="post" class="py-2">
            <button type="submit" class="btn btn-outline-danger mx-2">
              Çıkış yap
            </button>
          </form>
        </ul>
      </div>



    </div>
  </div>
</nav>