/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* html,
body,
:root {
	height: 100%;
}

.min-h-screen {
	min-height: calc(100vh - 60px);
}

.avatar {
	width: 40px !important;
	height: 40px !important;
	background-color: aqua;
}

.cursor-pointer {
	cursor: pointer;
}
 */
