@{
    ViewData["Title"] = "Users Page";
}

@model UsersViewModel


    <div class="d-flex flex-column column-gap-3 rounded bg-black">
  @foreach (var user in Model.users)
    {
        <div class="d-flex gap-3  text-white px-4 py-2">
            <p>@user.FullName</p>
            <p>@user.Username</p>
            <p>@user.Email</p>
        </div>
    }
    </div>
  

