@{
    ViewData["Title"] = "Home Page";
}


<div class="py-4 container bg-light ">
    <div class="row justify-content-center">


        <div class="col-12 col-md-9 justify-content-md-center gap-4" style="width: 470px;">
            @await Html.PartialAsync("../Shared/Components/_NewPost.cshtml")
            <div class="d-flex flex-column gap-3" data-html="true">
                @foreach (var post in ViewBag.posts)
                {
                    await Html.RenderPartialAsync("../Shared/Components/_PostCard.cshtml", post, ViewData);
                }
            </div>
        </div>


        <div class="col-md-3 d-none d-md-block">
            @await Html.PartialAsync("../Shared/Components/_ProfileCard.cshtml")

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}