

html,
body,
:root {
	height: 100%;
}

.min-h-screen {
	min-height: calc(100vh - 60px);
}

.avatar {
	width: 40px !important;
	height: 40px !important;
	background-color: aqua;
}

.cursor-pointer {
	cursor: pointer;
}
